body{
    background-color: #161515;
    font-family:fantasy;
}
footer{
    background-color: #161515;
}
h1{
    text-align: center;
    color: #EAD363;
}
h2{
    text-align: center;
    color: #EAD363;
}